In [1]:
import numpy as np
import matplotlib as plt
import pandas as pd

df1 = pd.read_csv("Shootings.csv")
df1.head()

,incident_num,shooting_date,district,shooting_type_v2,victim_gender,victim_race,victim_ethnicity_NIBRS,multi_victim
0,I152000196-00,2015-01-01 13:30:00+00,C11,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,f
1,I152000879-00,2015-01-04 01:58:00+00,E18,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,f
2,I152001014-00,2015-01-04 18:52:00+00,E5,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,f
3,I152002232-00,2015-01-08 22:45:00+00,B2,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,t
4,I152002233-00,2015-01-08 22:45:00+00,B2,Non-Fatal,Female,Black or African American,Not Hispanic or Latinx,t

In [2]:
df2 = pd.read_csv("ShotsFired.csv")
df2.head()

    incident_num           incident_date district ballistics_evidence
0  I152000093-00  2015-01-01 04:17:00+00      C11                   f
1  I152000042-00  2015-01-01 00:05:00+00      A15                   f
2  I152000514-00  2015-01-02 15:51:00+00       B3                   t
3  I152000965-00  2015-01-04 15:30:00+00       B2                   t
4  I152000872-00  2015-01-04 00:13:00+00       B2                   f