In [2]:
import pandas as pd
import numpy as np
import folium
from folium import plugins, Map
from folium.plugins import HeatMap
from PIL import Image as im
import matplotlib.pyplot as plt
import sklearn.datasets as datasets

In [3]:
shapefile_df = pd.read_csv('shapefile.csv')
shooting_df = pd.read_csv('shootings.csv')
shots_fires_df = pd.read_csv('shots_fires.csv')

In [4]:
shapefile_df.head()

,FID,LONGNAME,SHORTNAME,DISTRICT,COLOR,TOTAL,TARGET_DEV,TARGET_D_1,TOTAL18,TOTALHISP,...,WHITE,BLACK,AIAN,ASIAN,HPI,OTHER,MLTMN,Shape__Area,Shape__Length,DistrictText
0,1,District 1,D1,1,-851848832,76830,1758,2.34,64257,24552,...,44656,3637,783,5080,50,20935,1689,0.002985,0.380208,1
1,2,District 2,D2,2,465990528,77466,2394,3.19,70183,6640,...,53120,4520,269,13604,55,4893,1005,0.001969,0.341635,2
2,3,District 3,D3,3,494969216,73285,-1787,-2.38,60834,11898,...,29284,14990,492,13190,45,9927,5357,0.011007,0.957769,3
3,4,District 4,D4,4,-65408,72917,-2155,-2.87,54939,17409,...,10515,40030,653,3093,44,11569,7013,0.001324,0.296487,4
4,5,District 5,D5,5,412292224,75436,364,0.48,59652,18191,...,20392,35584,475,2022,42,12727,4194,0.002300,0.313325,5

In [5]:
shooting_df.head()

,incident_num,shooting_date,district,shooting_type_v2,victim_gender,victim_race,victim_ethnicity_NIBRS,multi_victim
0,I152000196-00,2015-01-01 13:30:00+00,C11,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,f
1,I152000879-00,2015-01-04 01:58:00+00,E18,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,f
2,I152001014-00,2015-01-04 18:52:00+00,E5,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,f
3,I152002232-00,2015-01-08 22:45:00+00,B2,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,t
4,I152002233-00,2015-01-08 22:45:00+00,B2,Non-Fatal,Female,Black or African American,Not Hispanic or Latinx,t

In [8]:
shooting_df['shooting_type_v2'].unique()

array(['Non-Fatal', 'Fatal'], dtype=object)

In [ ]:
shots_fires_df.head()

    incident_num           incident_date district ballistics_evidence
0  I152000093-00  2015-01-01 04:17:00+00      C11                   f
1  I152000042-00  2015-01-01 00:05:00+00      A15                   f
2  I152000514-00  2015-01-02 15:51:00+00       B3                   t
3  I152000965-00  2015-01-04 15:30:00+00       B2                   t
4  I152000872-00  2015-01-04 00:13:00+00       B2                   f